<div class="col-md-3 left_col">
    <div class="left_col scroll-view">

        <!--<div class="navbar nav_title" style="border: 0;">-->
            <!--<a href="javascript:history.go(0)" class="site_title"><img height="30px" width="30px" src="/images/company/<%= userData.company.comp_name+".png" %>" alt="...">-->
            <!--<span><%= userData.company.comp_name %> HRMS</span></a>-->
        <!--</div>-->

        <div class="company-logo">
            <img height="" width="100%" src="/images/company/<%= userData.company.logo %>" alt="...">
        </div>

        <div class="clearfix"></div>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
                <ul class="nav side-menu">

                    <%
                    for(var i = 0; i < page_data.side_menu.length; i++){
                    %>
                    <li>
                        <a href="<%=page_data.side_menu[i].page%>">
                            <i class="<%=page_data.side_menu[i].icon%>"></i> <%= page_data.side_menu[i].title %>
                        </a>
                    </li>
                    <% } %>

                </ul>
            </div>


        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="/logoff">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>